.a {
	color          : #FFFF00
}

a {
	text-decoration: none;
	border:none;
	color: #EEE;
}
a:link {
	color: #EEE;
}
a:visited {
	color: #EEE;
}
a:hover {
	color: #33AAEE;
	border-bottom:none;
}
a.active {
	color: white;
}

.proparty  {
  font-family      : "Times New Roman", Times, serif;
  font-size        : 8px;
  position         : absolute;
  background       : rgba(0, 0, 0, 0.5);
  z-index          : 2;
  left             : 20px;
  top              : 50px;
}

.canvas {
  position         : absolute;
  overflow         : hidden;
  left             : 0px;
  right            : 0px;
  top              : 0px;
  bottom           : 0px;
  z-index          : -1;
  background-color : black;
}

.openfile {
  position         : absolute;
  overflow         : hidden;
  left             : 0px
}



#DataInfo  {
	font-family      : "Consolas";
	font-size        : 12px;
	position         : absolute;
	top              : 95%;
	left             : 90%;
	background       : rgba(1, 1, 0, 0.5);
	z-index          : 0;
	color            : #FFFFFF;
}



.DataTree
{
	top : 0px;
	right : 280px;
	width: 80px;
	height : 20px;
	bottom: 0px;
	z-index: 2;
	background-color: rgba(100, 100, 100, 0.5);
	color: #898989;
	padding: 3px;

	border: solid 1px;
	border-radius:1px;
}

.DataPropatry
{
	top : 0px;
	right : 280px;
	width: 80px;
	height : 20px;
	bottom: 0px;
	z-index: 2;
	background-color: rgba(100, 100, 100, 0.5);
	color: #898989;
	padding: 3px;

	border: solid 1px;
	border-radius:1px;
	
	-moz-transform-origin: 85% 50%;
	-webkit-transform-origin: 85% 50%;
	-o-transform-origin: 85% 50%;
	-ms-transform-origin: 85% 50%;
	transform-origin: 85% 50%;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

body {
	width:100%;
	height:100%;
	background-color:rgb(50,50,50);
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	overflow:hidden;
}

.menuButtonClass {
	font-size:16px;
	padding: 0px;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
}

.menuTextClass {
	color: #EEE;
	font-size:15px;
	padding: 2px;
	margin: 0px 20px 0px 20px;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
}

.menuTable {
	display:table;
	padding: 0px;
	margin: 0px;
}

.menuItem {
	display:table-cell;
    vertical-align:middle;
    text-align:center;
}

/* --- TODO: beautiful----*/
.AddButton {
	/*position:absolute;
	right:150px;
	top:60px;*/
	margin: 0px;
	width: 150px;
	height:25px;
	background-color:#e5923e;
	color:#FFF;
}


.groupdel {
  font-family     : "Times New Roman", Times, serif;
  font-size       : 32px;
  position        :absolute;
  background      :url("../image/icon_dustbox.png");
  right           :0px;
  width           :32px;
  height          :32px;
  border          :0;
}

#OpenSwitch {
	position        :absolute;
	margin          :5px;
	width           :150px;
	height          :25px;

	left            :40px;
	top             :0px;
	background-color:rgb(0,128, 255);
	color           :#FFF;
	z-index: 100;
}

#hstable {
	top :  0px;
	height         :365px;
}

#ViewTypeSwitch {
	position        :absolute;
	margin          :5px;
	width           :150px;
	height          :25px;

	left            :200px;
	top             :0px;
	background-color:rgb(0,128, 255);
	color           :#FFF;
	z-index: 100;
}

DustBox{
	width:100px;
	height:200px;
	background:url("./image/icon_dustsbox_ok.png");
}

* html DustBox{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./image/icon_dustbox_ok.png',sizingMethod='scale');
	background:none;
}


#OpenWindow {
	position        :absolute;
	margin          :5px;
	width           :160px;
	height          :70px;
	left            :35px;
	top             :35px;
	background-color:rgba(55, 55, 55, 0.7);
	color           :#FFF;
}

#OpenSTL {
	display         : inline-block;
	overflow        : hidden;
	position        : relative;
	padding         : 0px;
	margin          : 5px;
	/*margin-top      : 10px;*/
	margin-bottom   : 0px;
	width           : 150px;
	height          : 25px;
	background-color: rgb(228,127,8);
	color           : #FFF;
}

#OpenCSV {
	display         : inline-block;
	overflow        : hidden;
	position        : relative;
	padding         : 0px;
	margin          : 5px;
	margin-top      : 0px;
	margin-bottom   : 10px;
	width           : 150px;
	height          : 25px;
	background-color:rgb(203,184,53);
	color           :#FFF;
}

.file input[type="file"] {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	position: absolute;
	right: 0;
	top: 0;
	height : 25px;
	margin: 0;
	font-size: 100px;
	cursor: pointer;
}

#AddGroup {
	/*position:absolute;
	right:150px;
	top:28px;*/
	margin: 50px;
	width: 150px;
	height:25px;
	background-color:#e53e78;
	color:#FFF;
}


#AddLine {
	/*position:absolute;
	right:150px;
	top:28px;*/
	margin: 5px;
	width: 150px;
	height:25px;
	background-color:rgb(165,100,248);
	color:#FFF;
}

#AddPoint {
	/*position:absolute;
	right:150px;
	top:28px;*/
	margin: 5px;
	width: 150px;
	height:25px;
	background-color:rgb(100,142,248);
	color:#FFF;
}

#AddLineSphere {
	/*position:absolute;
	right:150px;
	top:28px;*/
	margin: 5px;
	width: 150px;
	height:25px;
	background-color:rgb(132,209,35);
	color:#FFF;
}

#AddPointSphere {
	/*position:absolute;
	right:150px;
	top:28px;*/
	margin: 5px;
	width: 150px;
	height:25px;
	background-color:rgb(75,204,150);
	color:#FFF;
}


#sidetree {
	margin: 10px;
}

#DeleteGroup {
	/*position:absolute;
	right:10px;
	top:60px;*/
	margin: 10px;
	width: 120px;
	height:25px;
	background-color:#e5923e;
	color:#FFF;
}

#Save {
	/*position:absolute;
	right:210px;
	top:5px;*/
	margin: 10px;
	width: 60px;
}
#Open {
	/*position:absolute;
	right:0px;
	top:5px;*/
	margin: 10px;
	width: 200px;
}

#ViewDirectionSwitch {
	position        :absolute;
	margin          :5px;
	width           :150px;
	height          :25px;

	left            :360px;
	top             :0px;
	background-color:rgb(0,128, 255);
	color           :#FFF;
	z-index: 100;
}

#ViewDirection {
	position        :absolute;
	margin          :5px;
	width           :465px;
	height          :70px;
	left            :360px;
	top             :35px;
	background-color:rgba(55, 55, 55, 0.7);
	color           :#FFF;
}

#ViewType {
	position        :absolute;
	margin          :5px;
	width           :160px;
	height          :70px;
	left            :197px;
	top             :35px;
	background-color:rgba(55, 55, 55, 0.7);
	color           :#FFF;
}

#viewOrtho {
	position        :absolute;
	left            :0px;
	top             :32px;
	margin-bottom   : 0px;
	background-color: rgb(125,170,19);
}

#viewPers {
	position        :absolute;
	left            :0px;
	top             :0px;
	background-color: rgb(19,170,150);
}

#viewFront {
	position        :absolute;
	left            :0px;
	top             :0px;
	background-color:rgb(124,225,250);
}

#viewLeft {
	position        :absolute;
	left            :150px;
	top             :0px;
	background-color:rgb(82,217,251);
}

#viewTop {
	position        :absolute;
	left            :300px;
	top             :0px;
	background-color:rgb(26,187,227);
}

#viewBack {
	position        :absolute;
	left            :0px;
	top             :30px;
	background-color:rgb(142,238,105);
}

#viewRight {
	position        :absolute;
	left            :150px;
	top             :30px;
	background-color:rgb(111,223,067);
}

#viewBottom {
	position        :absolute;
	left            :300px;
	top             :30px;
	background-color:rgb(72,200,022);
}

#ApplyProperty {
	margin: 10px;
	width: 120px;
	height:25px;
	background-color:#e5923e;
	color:#FFF;
	display: none;
}

#DeleteProperty {
	margin: 10px;
	width: 120px;
	height:25px;
	background-color:#111111;
	color:#FFF;
	display: none;
}



#AlphaValue {
	margin: 10px;
	width: 120px;
	height:25px;
	background-color:#111111;
	color:#FFF;
	display: none;
	z-index: 10;
}


#pickup {
	margin          :5px;
	background-color:rgba(100, 77, 55, 1.0);
	color           :white;
	display         :none;
	z-index         :10;
	//background      :transparent;
}



/*------------------*/

.colnames { 
	width :80px;
	height:16px;
}

.colcheckbox {
	width :24px;
	height:24px;
}

.colselectbox {
	height:20px;
}



.nodeListBox {
	/*position:absolute;*/
	margin: 10px;
}

.noneselect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.spacer
{
	margin: 10px;
	height: 1px;
	left:5px;
	right:5px;
	background-color: #FFF;
}

.nodeProperty
{
	display: table;
	margin: 10px;
}

.nodePropertyRow
{
	display:table-row;
	background-color: #aeaeae;
}

.nodePropertyName
{
	display:table-cell;
	/*width: 150px;*/
	background-color: #ccc;
	border: 1px solid #868686;
	padding: 3px;
}

.nodePropertyConst
{
	/*width:150px;*/
	display:table-cell;
	border: 1px solid #868686;
	background-color: #aeaeae;
	padding: 3px;
}

.nodePropertyValue
{
	width: 50px;
	display:table-cell;
	border: 1px solid #868686;
	background-color: #eee ;
	padding: 3px;
}

.nodePropertyText
{
	width: 150px;
	display:table-cell;
	border: 1px solid #868686;
	background-color: #eee ;
	padding: 3px;
}


.nodePropertyTop
{
	background-color: #868686;
}

.menuTab
{
	background-color:rgba(180, 180, 180, 0.5);
	position:fixed;
	right:0px;
	top:0px;
	width:300px;
	bottom:0px;
	overflow:auto;
	z-index: 1;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.NodeCanvas
{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
}

.consoleOutput
{
	position: absolute;
	height:400px;
	bottom:0px;
	background-color:rgba(100, 100, 100, 0.5);
}

.consoleTextBlockArea {
	width : 100%;
	height:365px;
	overflow: auto;
}

.consoleTextBlock
{
	display: table-cell;
	vertical-align: bottom;
	background:transparent;
}

.groupTab
{
	position: absolute;
	width:280px;
	top:40px;
	bottom:430px;
	background-color:rgba(180, 180, 180, 0.5);
	overflow: auto;
}

.stdout
{
	font-size: 12px;
	color:white;
}

.stderr
{
	font-size: 12px;
	color:red;
}
/*
.closeMenuTabArea
{
	position: relative;
	min-width:100%;
	min-height:100%;
	margin: 0;
	padding: 0;
	z-index: -1;
}
*/

.rightTab
{
	font-size: 14px;
	padding: 0px 20px 0px 35px;
	top : 10px;
	right : 280px;
	width: 80px;
	height : 20px;
	bottom: 0px;
	z-index: 2;
	background-color: rgba(100, 100, 100, 0.5);
	color: #b2b2b2;
	border: solid 1px;
	border-radius:1px;
	
	-moz-transform-origin: 85% 50%;
	-webkit-transform-origin: 85% 50%;
	-o-transform-origin: 85% 50%;
	-ms-transform-origin: 85% 50%;
	transform-origin: 92% 50%;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.bottomTab
{
	font-size: 14px;
	left : 10px;
	/*bottom : 400px;*/
	width: 80px;
	height: 20px;
	padding: 0px 20px 0px 35px;
	background-color: rgba(100, 100, 100, 0.5);
	color: #b2b2b2;

	border: solid 1px;
	border-radius:1px;
}

.leftTab
{
/*
	top : 0px;
*/
	font-size: 14px;
	padding: 0px 10px 0px 30px;
	top : 50px;
	left : 280px;
	width: 80px;
	height : 20px;
	bottom: 0px;
	z-index: 2;
	background-color: rgba(100, 100, 100, 0.5);
	color: #b2b2b2;

	border: solid 1px;
	border-radius:1px;
	
	-moz-transform-origin: 8% 50%;
	-webkit-transform-origin: 8% 50%;
	-o-transform-origin: 8% 50%;
	-ms-transform-origin: 8% 50%;
	transform-origin: 8% 50%;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.viewDirButton {
	margin          :5px;
	width           :150px;
	height          :25px;
	background-color:#543210;
	color           :#FFF;
	z-index: 100;
}

.viewTypeButton {
	margin          :5px;
	width           :150px;
	height          :25px;
	background-color:#543210;
	color           :#FFF;
	padding: 0px;
	z-index: 100;
}
