body {
	width:100%;
	height:100%;
	background-color:rgb(50,50,50);
	margin: 0px;
}


.GroupView
{
	position: absolute;
	margin: 0;
	background-color:rgba(180, 180, 180, 0.5);
	padding: 0;
	z-index: -1;
}
.GroupViewBlock
{
	position: absolute;
	margin: 0;
	padding: 0;
	background-color:rgba(180, 180, 180, 0.5);
}

.GroupViewButton
{
  position: absolute;
  margin: 0;
  padding: 0;
  top:0%;
  border-top             : 1px solid;
  border-bottom          : 1px solid;
  border-left            : 1px solid;
  border-right           : 1px solid;
  text-decoration        : none;
  font-weight            : bold;
}

